@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  html {
    @apply text-base;
  }
  body {
    @apply bg-body font-primary font-normal leading-relaxed text-text;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-primary font-bold leading-tight text-dark;
  }
  h1,
  .h1 {
    @apply font-primary text-h1-sm md:text-h1;
  }
  h2,
  .h2 {
    @apply text-h2-sm md:text-h2;
  }
  h3,
  .h3 {
    @apply text-h3-sm md:text-h3;
  }
  h4,
  .h4 {
    @apply text-h4;
  }
  h5,
  .h5 {
    @apply text-h5;
  }
  h6,
  .h6 {
    @apply text-h6;
  }
  code {
    @apply before:hidden after:hidden;
  }
}
@layer components {
  .section {
    @apply pt-[70px] pb-[70px];
  }
  .container {
    @apply mx-auto max-w-[1140px] px-4;
  }
  .form-inputs * {
    @apply mb-5 leading-10;
  }
  .social-icons {
    @apply space-x-4;
  }
  .social-icons li {
    @apply inline-block;
  }
  .social-icons li a {
    @apply block h-9 w-9 rounded-full border border-primary text-center text-white transition hover:bg-primary;
  }
  .social-icons li a svg {
    @apply m-auto h-9 fill-primary;
  }
  .social-icons li a:hover svg {
    @apply fill-white;
  }
  .form-input,
  .form-textarea {
    @apply border-border py-[6px] focus:border-primary focus:ring-transparent;
  }
  .content {
    @apply prose max-w-none prose-headings:font-bold prose-h1:mb-4 prose-h1:text-h1-sm prose-h2:mb-4 prose-h2:mt-4 prose-h2:text-h2-sm prose-h3:mt-4 prose-h3:text-h3-sm prose-h4:mt-4 prose-h5:mb-4 prose-h5:text-base prose-h6:mb-6 prose-h6:text-[15px] prose-a:no-underline hover:prose-a:text-primary prose-blockquote:border-primary prose-blockquote:py-1 prose-blockquote:px-4 prose-ol:pl-4 prose-ul:list-none prose-ul:pl-0 prose-hr:my-5 md:prose-h1:text-h1 md:prose-h2:text-h2 md:prose-h3:text-h3;
  }
  .content ul li {
    @apply relative pl-5 before:absolute before:left-0 before:top-[10px] before:h-2 before:w-2 before:rounded-full before:bg-primary before:content-[""];
  }
  .feature-card {
    @apply transition-all duration-200 ease-in-out hover:shadow;
  }
  .service-carousel .swiper-pagination {
    @apply flex justify-center;
  }
  .service-carousel .swiper-pagination span {
    @apply mx-[5px] inline-block h-[10px] w-[10px] cursor-pointer rounded-full border  border-primary;
  }
  .service-carousel .swiper-pagination span.swiper-pagination-bullet-active {
    @apply bg-primary;
  }
  .cta-link img {
    transition: margin 0.3s ease;
  }
  .cta-link:hover img {
    @apply ml-2;
  }
  .card {
    @apply mt-10 rounded-[4px] border border-[rgba(0,0,0,.125)] bg-white px-5 px-5 py-12 py-12 shadow md:mt-0;
  }
  .col-recommended {
    @apply relative z-10 md:-mx-8 md:-my-6;
  }
  .col-recommended .card {
    @apply border-0 shadow-[0_1rem_3rem_rgba(0,0,0,.175)];
  }
  .faq-head::before {
    @apply absolute -left-8 top-1 h-6 w-6 bg-[length:24px] content-[""];
    background-image: url("data:image/svg+xml,%3Csvg version='1.1' id='Capa_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='342.508px' height='342.508px' viewBox='0 0 342.508 342.508' style='enable-background:new 0 0 342.508 342.508;' xml:space='preserve'%3E%3Cpath fill='%230aa8a7' d='M171.254,0C76.837,0,0.003,76.819,0.003,171.248c0,94.428,76.829,171.26,171.251,171.26 c94.438,0,171.251-76.826,171.251-171.26C342.505,76.819,265.697,0,171.254,0z M245.371,136.161l-89.69,89.69 c-2.693,2.69-6.242,4.048-9.758,4.048c-3.543,0-7.059-1.357-9.761-4.048l-39.007-39.007c-5.393-5.398-5.393-14.129,0-19.521 c5.392-5.392,14.123-5.392,19.516,0l29.252,29.262l79.944-79.948c5.381-5.386,14.111-5.386,19.504,0 C250.764,122.038,250.764,130.769,245.371,136.161z'/%3E%3C/svg%3E");
  }
  .faq-body a {
    @apply text-primary;
  }
  .contact-list a {
    @apply font-semibold text-dark;
  }
  .header {
    background-color: white;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 16px;
    padding-right: 16px;
  }
  @media (min-width: 768px) {
    .header {
      padding-left: 0;
      padding-right: 0;
      padding-top: 9px;
      padding-bottom: 9px;
    }
  }
  .navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }
  .navbar-brand {
    font-size: 1.25rem;
    font-weight: 600;
    color: #000;
  }
  .navbar-brand img {
    max-height: 100%;
    max-width: 100%;
  }
  .navbar-nav {
    text-align: center;
  }
  @media (min-width: 768px) {
    .navbar-nav {
      text-align: left;
    }
  }
  #nav-menu {
    width: 100%;
    overflow: hidden;
  }
  @media (min-width: 768px) {
    #nav-menu {
      max-height: 100%;
      width: auto;
    }
  }
  @media (min-width: 1024px) {
    .nav-item {
      margin-left: 12px;
      margin-right: 12px;
    }
  }
  .nav-item select:focus {
    box-shadow: none;
  }
  .nav-link {
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 8px;
    padding-right: 8px;
    font-family: "YourPrimaryFontFamily", sans-serif;
    font-size: 1rem;
    font-weight: 700;
    color: #000;
    transition: all 0.3s ease;
  }
  @media (min-width: 768px) {
    .nav-link {
      padding-top: 16px;
      padding-bottom: 16px;
    }
  }
  @media (min-width: 1024px) {
    .nav-link {
      padding-left: 12px;
      padding-right: 12px;
    }
  }
  .nav-link-active {
    color: #FC9305 !important;
  }
  .nav-link:hover {
    color: #FC9305 !important;
  }
  .btn {
    @apply inline-block font-primary font-bold border px-7 py-[17px] leading-[18px] transition;
  }
  .btn-primary {
    @apply bg-primary text-white border-transparent z-[1] rounded-[30px] relative hover:shadow-[0_12px_24px_-6px_#FF065F] transition-all;
  }
  .btn-primary:after {
    @apply w-full h-full rounded-[30px] absolute left-1/2 top-1/2 translate-x-[-50%] translate-y-[-50%] content-[""] bg-primary transition-all duration-300 ease-in-out -z-[1];
  }
  .btn-primary:hover::after {
    @apply w-[110%] h-[110%];
  }
  .btn-outline-primary {
    @apply relative text-text border-0 bg-transparent rounded-[30px] hover:border-transparent hover:text-primary;
  }
  .btn-outline-primary:after {
    @apply w-full h-full rounded-[30px] absolute left-1/2 top-1/2 translate-x-[-50%] translate-y-[-50%] content-[""] bg-transparent border border-primary transition-all duration-300 ease-in-out z-[0];
  }
  .btn-outline-primary:hover::after {
    @apply w-[110%] h-[110%];
  }
  .btn {
    background-color: #FF065F !important;
    color: white;
    border-radius: 10rem;
  }
}
@layer utilities {
  b,
  strong {
    @apply font-semibold;
  }
  .shadow {
    @apply shadow-[0_12px_24px_-6px_rgba(45,67,121,0.1)];
  }
}/*# sourceMappingURL=style.css.map */