@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @import "base";
}


@layer components {
  @import "components";
  @import "navigation";
  @import "buttons";
}

@layer utilities {
  @import "utilities";
}

// .bg-theme-light {
//   background-color: #f9bf73 !important;
// }


#show-button {
  display: none;
}

/* Loading Spinner */
.btn {
  &[disabled] {
    background-color: #ccc;
    cursor: not-allowed;

    &::after {
      content: " ";
      display: inline-block;
      width: 12px;
      height: 12px;
      border: 2px solid rgba(0, 0, 0, 0.3);
      border-radius: 50%;
      border-top-color: #000;
      animation: spin 1s ease-in-out infinite;
      margin-left: 8px;
    }
  }
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

/* Thank-You Popup */
.thank-you-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #ff065f; // Background color
  color: white; // Text color
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;

  .popup-content {
    text-align: center;

    h2 {
      margin-bottom: 10px;
    }

    p {
      margin: 0;
    }

    .close-btn {
      background: white; // Close button background
      color: #ff065f; // Close button text color
      border: none;
      border-radius: 4px;
      padding: 5px 10px;
      cursor: pointer;
      margin-top: 15px;

      &:hover {
        background: rgba(255, 255, 255, 0.8);
      }
    }
  }
}